
.cartStyle {
  position: relative;
  margin-right: 20px;
}

.amountStyle {
  color: white;
  font-size: 20px;
  position: absolute;
  top: -13px;
  left: 27px;
  background-color: rgba(12, 42, 173, 0.4);
  padding: 0px 5px;
  border-radius: 50%;
}

.iconStyle {
  color: white; 
  font-size: 23px;
  cursor: pointer
}